<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>qdf</display-name>
  
	<filter>  
    	<filter-name>qdfFilter</filter-name>  
    	<filter-class>com.qdf.core.QdfFilter</filter-class>
    	<init-param>
      		<description>Config的实现方式(properties,mysql)</description>
      		<param-name>configImpl</param-name>
     		<param-value>properties</param-value>
    	</init-param>  
    	<init-param>
		     <description>配置连接地址。</description>
		     <param-name>jdbcUrl</param-name>
		     <param-value>jdbc:mysql://127.0.0.1:3306/qdf</param-value>
    	</init-param>
    	<init-param>
      		<description>配置用户标识。</description>
      		<param-name>user</param-name>
      		<param-value>root</param-value>
    	</init-param>
    	<init-param>
      		<description>配置访问密码。</description>
      		<param-name>password</param-name>
      		<param-value>root</param-value>
    	</init-param>
	</filter>  
	<filter-mapping>  
		<filter-name>qdfFilter</filter-name>  
		<url-pattern>/*</url-pattern> 
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping> 
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>